.container {
    background-color: rgb(43, 42, 42);
    margin-top: 50px;
    padding: 10px;
  }

  body {
    background-image: url("../images/board2.jpg");
    background-size: cover;
  }

  #heading {
	  font-family: 'Audiowide', cursive;
    font-weight: bold;
    color: rgb(255, 73, 1);
  }
  
  #subHeading {
	font-family: 'Share Tech Mono', monospace;
    font-style: italic;
    font-size: 25px;
    margin-top: 10px;
  }

  #time {
    font-family: 'Share Tech Mono', monospace;
    font-style: bold;
    margin-bottom: 5px;
  }

  #currentTime {
    font-family: 'Share Tech Mono', monospace;
    font-style: bold;
  }
  
  .panel-title {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    color: rgb(57, 207, 95);
  }
  
  th {
    font-family: 'Share Tech Mono', monospace;
	  font-weight: bold;
  }

  label {
    font-family: 'Share Tech Mono', monospace;

  }
